/* Media Quieries */

@media screen and (max-width: 1200px) {
  
    #intro-section {
      flex-direction: column;
    }

    #claim {
        font-size: 3em;
    }
  
    #intro-description{
      width: 100%;
      margin-bottom: 5vh;
    }
  
    #intro-image-div {
      margin-top: 5vh;
      margin-bottom: 10vh
    }
  }
  
  @media screen and (max-width: 800px) {
    #about-me-info-container {
      flex-direction: column;
    }
  
    #about-me-description {
      margin-bottom: 10vh;
    }
  
    #my-skills {
      margin-top: 10vh
    }
  }

  @media (max-width: 440px)  {
    :root {
      --small-font-size: 40rem;
    }
  }
  
  @media screen and (max-width: 600px){
    :root {
      --small-font-size: 1em;
      --section-label-size: 1.6em
    }
    
    section {
      width: 100vw;
      height: 100vh;
    }
  
    .header-name {
      font-size: 1em;
    }
  
    #claim {
      font-size: 2em;
    }

    #intro-image-div {
        display: flex;
      }
    

    #intro-image {
      width: 200px;
      height: 200px;
    }
  
    #about-me-photo {
      width: 200px;
      height: 250px;
    }
  
    #projects{
      align-items: center;
    }
  
    #E-commerence, #project-4 {
      align-self: center;
    }

    .project-description{
      display: none;
    }
  }
  
  @media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }
  
  