/* Other css files */
@import url('animations.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@700&family=Roboto+Mono:wght@500&display=swap');

  /* Satoshi Fonts */
  @import url('/css/cssfonts/satoshi.css');

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../files/fonts/Satoshi-fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../files/fonts/Satoshi-fonts/Satoshi-Bold.woff') format('woff'),
         url('../files/fonts/Satoshi-fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
  

@font-face {
  font-family: 'NyghtSerifDark';
  src: url('../files/fonts/Nyght-Serif/NyghtSerif-Dark.woff') format('woff'),
       url('../files/fonts/Nyght-Serif/NyghtSerif-Dark.woff2') format('woff2');
       font-weight: 400;
}

@font-face {
  font-family: 'NyghtSerifItalic';
  src:  url('../files/fonts/Nyght-Serif/NyghtSerif-DarkItalic.woff') format('woff'),
        url('../files/fonts/Nyght-Serif/NyghtSerif-DarkItalic.woff2') format('woff2');
        font-weight: 700;
}

@font-face {
  font-family: 'NyghtSerifLight';
  src: url('../files/fonts/Nyght-Serif/NyghtSerif-Light.woff') format('woff'),
       url('../files/fonts/Nyght-Serif/NyghtSerif-Light.woff2') format('woff2');
       font-weight: 400;
       font-display: swap;
}
/* Global variables */

:root {
  --brown: #3a1f04;
  --lightbrown: #C19A6B;
  --small-font-size: 16px;
  --section-label-size: 2.25rem;
}



/* Reset Styles */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi-Bold', 'Roboto Mono', monospace;
  line-height: 1.6;
  background-color: var(--brown);
  letter-spacing: 1.8px; 
}

/* Main Layout Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--brown);
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

/* General Styles */

a {
  text-decoration: none;
  cursor: pointer;
}


/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.125rem;
  padding: 0rem 0.625rem;
  height: 5vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  font-size: var(--small-font-size);
  color: white;
}

#header-name {
  font-family: 'NyghtSerifLight', 'serif';
}

.header-anchor {
  color: white;
  transition: background-color 0.5s ease; 
}

.header-anchor:hover {
  color: var(--lightbrown)
}

#header-ul {
  list-style: none;
  display: flex;
}

.header-li{
  margin-right: 0.625rem;
}

/* Sections */
section {
  min-height: 120vhs;
  color: black;
  width: 100%;
  margin-bottom: 15vh;
}

.section-label {
  color: var(--lightbrown);
  font-size: var(--section-label-size);
  font-family: 'NyghtSerifDark', 'serif';
}

/* Intro Section */

#intro-section {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C19A6B
 
}

#intro-description {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  padding: 10rem 10rem 0rem 10rem;
  color: white;
  animation: slideInLeft 1.4s;
}

#intro-description h4 {
  color: var(--brown);
  font-size: 2.5rem;
}

#intro-section h4, #claim {
  font-family: 'NyghtSerifItalic', 'serif';
}

#claim {
  font-size: 6.25rem;
}

#intro-section p{
  margin-bottom: 0.1875rem;
  font-size: var(--small-font-size);
}


#social-icons {
  font-size: var(--small-font-size);
  list-style: none;
}

#social-icons li {
  display: inline-block;
}

#intro-anchors {
  padding: 20px 0;
  height: 12vh;
}


.intro-anchor {
  font-size: 1.3rem;
  background-color: var(--brown);
  border-radius: 40px;
  padding: 10px;
  color: white;
  transition: background-color 0.3s ease;
  width: 2.5vw;
  text-align: center;
  margin-top: 1.25rem;
}

.intro-anchor:hover {
  color:var(--lightbrown);
}

/* About me */

#about-me-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);
}

#about-me-info-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
}

#about-me-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


#about-me-image-and-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 10px;
}

#about-me-photo {
  border-radius: 50%;
  width: 43.05705059203444vh;
  height: 43.05705059203444vh;
  border-radius: 50%;
  border: var(--lightbrown) solid 8px;
}

#about-me-photo-anchor {
  align-self: center;
}

#about-me-paragraph {
  text-align: center;
}

#name {
  align-self: center;
}

#my-skills {
  text-align: center;
  width: 50%;
}

#my-skills h2 {
  margin-bottom: 40px;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px; /* Adjust the gap between the icons as desired */
  align-items: center;
  justify-items: center;
}

.icon {
  height: 64px;
  width: 64px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
};

/* Projects */

#projects-section {
  display: flex;
}

.section-label {
  text-align: center;
}
  .project-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }


  #projects {
   background-color: #F5DEB3;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 2.0833333333333vh 2.0833333333333vw;
   padding: 25px 0;
  }

  .project {
    font-family: 'Satoshi-Bold', 'sans-serif';
    border-radius: 10px;
    border: 10px white solid;
    transition: color 0.5 ease;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .project-info-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-description-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .project-info-container:hover {
    backdrop-filter: blur(3px);
  }

  .project:hover {
    color: white;
    backdrop-filter: blur(20px);
  }

  .project-description {
    align-self: center;
    width: 50%;
  }

  .project-anchor {
    color: white;
    display: inline-block;
  }

  .project-anchor:hover {
    color: var(--lightbrown);
  }

  .tech-used-container {
    display: flex;
    gap: 0.625rem;
    align-self: center;
  }

/* Contact Form */
#hire-me-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0;
  margin-bottom: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 1.0787486515641855vh;
  color: white;
}

 input {
  height: 5vh;
 }

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.contact-form button {
  padding: 10px;
  background-color: var(--lightbrown);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-textarea {
  resize: none;
}

footer {
  font-size: var(--small-font-size);
  color: var(--lightbrown);
  text-align: center;
}




@media screen and (max-width: 600px) {
  /* CSS rules */
  #header-name {
    display: none;
  }
  header {
    justify-content: center;
  }
  body #claim {
    font-size: 2rem;
  }

  body .project {
    width: 300px;
  }


}

@media screen and (max-width: 820px) {
  /* CSS rules */
  

  #intro-section {
    text-align: center;
  }
  #intro-description {
    width: 100%;
    padding: 0;
  }

  #intro-description h4 {
    font-size: 2rem;
  }

  #claim {
    font-size: 4rem;
  }

  #intro-anchor {
    font-size: 1.2rem;
  }

  #about-me-description {
    width: 100%;
    margin-bottom: 50px;
  }

  #about-me-info-container {
    flex-direction: column;
  }

  #about-me-photo {
    width: 26.680896478121664vh;
    height: 26.680896478121664vh;
  }

  #about-me-paragraph {
    width: 100%;
    align-self: center;
  }

  #my-skills {
    width:75%;
  }
  
}

@media screen and (max-width: 1025px)  {
  /* CSS rules */
  section {
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    padding: 0;
  }

  #projects {
    display: flex;
    flex-direction: column;
  }

  #projects-section {
    margin-bottom: 15vh;
  }

  #hire-me-section {
    margin-top: 15vh;
  }

  
}

@media screen and (max-width: 1300px) {  
  #intro-section {
    flex-direction: column;
    text-align: center;
  }

  .project {
    width: 450px;
  }
  
}
