/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@700&family=Roboto+Mono:wght@500&display=swap');

/* Global variables */

:root {
  --brown: #3a1f04;
  --lightbrown: #C19A6B;
  --font: 'Poltawski Nowy', serif;
  --mono-font: 'Roboto Mono', monospace;
  --small-font-size: 24px;
  --section-label-size: 36px;
}

/* Reset Styles */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poltawski Nowy', serif;
}

body {
  line-height: 1.6;
  background-color: var(--brown);
}

/* Main Layout Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--brown);
  overflow-x: hidden;
  margin-top: 15vh;
}

/* General Styles */

a {
  text-decoration: none;
  cursor: pointer;
}


/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);
  border-radius: 2px;
  padding: 0px 10px;
  height: 5vh;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header-anchor {
  color: #C19A6B;
  font-size: var(--small-font-size);
  transition: background-color 0.5s ease; 
}

.header-anchor:hover {
  color: var(--brown)
}

#header-ul {
  list-style: none;
  display: flex;
}

.header-li{
  margin-right: 10px;
}





/* Sections */
section {
  padding: 0px;
  min-height: 100vh;
  margin-bottom: 300px;
  color: black;
}

.section-label {
  color: var(--lightbrown);
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
  margin-bottom: 2em;
  font-size: var(--section-label-size);
}

/* Intro Section */

#intro-section {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: var(--mono-font);
}

#intro-image {
  animation: fadeIn 4s, slideInLeft 2s;
}


#intro-description {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding: 0em 10em;
  width: 50%;
  color: white;
  animation: fadeIn 4s, slideInLeft 2s;
}

#intro-description h4 {
  color: var(--lightbrown);
  font-size: 40px;
}

#claim {
  font-size: 100px;
}

#intro-section p{
  margin-bottom: 3px;
  font-size: var(--small-font-size);
}


#social-icons {
  margin: 3px 0px 3px 0px;
  font-size: var(--small-font-size);
  list-style: none;
}

#social-icons li {
  margin-top: 15px;
  display: inline-block;
}



#intro-anchors {
  margin-top: 25px;
  font-size: var(--small-font-size);
  height: 50px;
  width: 100%;
}


.intro-anchor {
  background-color: var(--lightbrown);
  border-radius: 3px;
  padding: 10px;
  color: white;
  transition: background-color 0.3s ease;
  width: 2.5vw;
  text-align: center;
}

.intro-anchor::after {
  color:var(--brown);
}

/* About me */

#about-me-section {
  height: 60vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);
}

#about-me-info-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
}

#about-me-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


#about-me-image-and-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 10px;
}

#about-me-photo {
  align-self: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: var(--brown) solid 8px;
}

#name {
  align-self: center;
}

#my-skills {
  margin-left: 10vw;
  width: 50%;
}

#skills {
  list-style: none;
}

#bruh {
  width: 100%;
}


/* Projects */

#projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

  #projects {
   display: flex;
   flex-direction: column;
   width: 90%;
  }

  .project {
    width: 30vw;
    transition: background-color 0.8s ease;
    transition: box-shadow 0.8 ease;
    transition: color 0.5 ease;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .project-description {
   display: block;
  }

  #E-commerence, #project-4 {
    align-self: flex-end;
  }

  #E-commerence:hover, #project-4:hover {
    box-shadow: -10px 8px 5px #C19A6B;
  }

  #OrakleSky:hover, #project-3:hover {
    box-shadow: 10px 8px 5px #C19A6B;
  }


  .project:hover {
    background-color: var(--brown);
    color: var(--lightbrown);
  }

  .project-image {
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .project-anchor {
    color: var();
  }

/* Services */


#services {
  display: flex;
  justify-content: space-around;
}

.service {
  border: solid 1px black;
  margin: 0px 5px 0px 5px
}


/* Contact Form */
#hire-me-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 10px;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.contact-form button {
  padding: 10px;
  background-color: var(--lightbrown);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-textarea {
  resize: none;
}

footer {
  font-size: var(--small-font-size);
  color: var(--lightbrown);
  text-align: center;
}

/* Animations */

  /* Keyframes */

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes slideInFromTop {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }

  /* Hover Underline */

    .hover-underline-animation {
      position: relative;
    }

    .hover-underline-animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: #C19A6B;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

  /* Scroll Animation */

        /* Project Scroll */
        .hidden {
          opacity: 0;
          transition: opacity 2s ease;
        }
        /* First and Second Project */
        .left {
          transform: translateX(-100%);
          transition: transform 1.4s;
        }
        /* Second and Fourth Project */
        .right {
          transform: translateX(100%);
          transition: transform 1.4s;
        }

        .show {
          opacity: 1;
          transform: translateX(0);
        }
  /* Fade In Animation */

        /* .fadeIn {
          animation: fadeIn 2s;
        } */
  

/* Media Quieries */

@media screen and (max-width: 1200px) {
  #claim {
    font-size: 3em;
  }

  #intro-section {
    flex-direction: column;
  }

  #intro-description{
    width: 100%;
  }
}

@media (max-width: 600px){
  :root {
    --small-font-size: 1em;
    --section-label-size: 1.6em
  }
  

  .header-name {
    font-size: 1em;
  }

  #intro-section {
    display: inline-grid;
  }

  #intro-image-div {
    display: flex;
    justify-content: center;
  }

  #claim {
    font-size: 1em;
  }

  /* #intro-description {
    flex-direction: row;
  } */
  #intro-image {
    width: 50%;
    height: 50%;
  }

  #about-me-photo {
    width: 30vw;
    height: 20vh;
  }

  #projects{
    align-items: center;
  }

  #E-commerence, #project-4 {
    align-self: center;
  }

  #claim {
    font-size: 2em;
  }

  .project-description{
    display: none;
  }
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

